
.bookingList-main{
    background-color: rgb(247, 244, 244);
    .styleContainerUpcoming{
        height: 300px;
        background-color: #e8f5e9;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }

    .styleContainerCancelled{
        height: 300px;
        background-color: #fffde7;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    .styleContainerCompleted{
        height: 300px;
        background-color: #efebe9;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    .bookinglist{
        position: relative;
        background-color: white;
        top: -70px;
        width: 100%;
        max-width: 1430px;
        margin: auto;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 5px;
    }
    .text{
        position: absolute;
        top: 150px;
        font-weight: 'bold';
        font-size: 30px;
        text-transform: uppercase;
    }
}