.header_box {
    background-color: #063970;
    height: 400px;
    color: #fff;

    .headerBoxSecond {
        position: relative;
        top: 130px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .headerTextTitle {
            color: white;
        }
    }
}

.headerHideBox {
    background-color: #063970;
    height: 250px;
    color: #fff;

    .headerBoxSecond {
        position: relative;
        top: 130px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .headerTextTitle {
            color: white;
        }
    }
}